.text {
  word-wrap: break-word;
  h1 {
    font-family: Playball, cursive;
    font-size: 60px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.3px;
    text-transform: capitalize;
  }
  .p-one {
    font-family: Kanit, sans-serif;
    font-size: 70px;
    line-height: 80px;
    letter-spacing: 0px;
    font-weight: 500;
  }
  .p-two {
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0;
  }
  .p-three {
    line-height: 30px;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: none;
    letter-spacing: 0.5px;
    margin-block: 1.5rem 2rem;
    max-width: 610px;
  }
}
